<!-- 左边导航栏 -->
<div region="west" split=true title="导航栏" style="width:180px;background:#eee;">
    <!-- 手风琴 -->
    <div id="sider-navbar" class="easyui-accordion" border=false style="width: 100%;">
        <div title="订单管理" data-options="iconCls:'Pagewhitepastetable'">
            <ul class="easyui-datalist" data-options="border:false" style="width:100%;">
                <li value="1">订单列表</li>
            </ul>
        </div>
        <div title="会员管理" data-options="iconCls:'User'">
            <ul class="easyui-datalist" data-options="border:false" style="width:100%;">
                <li value="/users/index.html">会员列表</li>
            </ul>
        </div>
        <div title="商品信息" data-options="iconCls:'Cart'" selected="true">
            <ul class="easyui-datalist" data-options="border:false" style="width:100%;">
                <li value="/goods/purchase/index.html">商品采购单</li>
                <li value="/goods/index.html">商品列表</li>
                <li value="/goods/category/index.html">商品类目</li>
                <li value="/goods/supplier/index.html">供应商信息</li>
            </ul>
        </div>
        <div title="统计分析" data-options="iconCls:'Chartbar'">
            <ul class="easyui-datalist" data-options="border:false" style="width:100%;">
                <li value="4">每日菜价</li>
            </ul>
        </div>
        <div title="基础数据维护" data-options="iconCls:'Table'">
            <ul class="easyui-datalist" data-options="border:false" style="width:100%;">
                <li value="/points/index.html">积分规则</li>
            </ul>
        </div>
        <div title="系统功能" data-options="iconCls:'Cog'">
            <ul class="easyui-datalist" data-options="border:false" style="width:100%;">
                <li value="/permissions/index.html">功能权限</li>
                <li value="/roles/index.html">系统角色</li>
                <li value="">账号管理</li>
            </ul>
        </div>
    </div>
</div>