<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytwman.greens.commons.entity.mapper.base.OrderOfferEntityMapper" >
  <resultMap id="BaseResultMap" type="com.ytwman.greens.commons.entity.OrderOfferEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="payment" property="payment" jdbcType="DECIMAL" />
    <result column="payable" property="payable" jdbcType="DECIMAL" />
    <result column="loss_profit" property="lossProfit" jdbcType="DECIMAL" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="paid_method" property="paidMethod" jdbcType="INTEGER" />
    <result column="paid_time" property="paidTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, payment, payable, loss_profit, balance, paid_method, paid_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ytwman.greens.commons.entity.OrderOfferEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_offer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_offer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_offer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ytwman.greens.commons.entity.OrderOfferEntityExample" >
    delete from order_offer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ytwman.greens.commons.entity.OrderOfferEntity" >
    insert into order_offer (id, order_id, payment, 
      payable, loss_profit, balance, 
      paid_method, paid_time)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{payment,jdbcType=DECIMAL}, 
      #{payable,jdbcType=DECIMAL}, #{lossProfit,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, 
      #{paidMethod,jdbcType=INTEGER}, #{paidTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ytwman.greens.commons.entity.OrderOfferEntity" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
    insert into order_offer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="payable != null" >
        payable,
      </if>
      <if test="lossProfit != null" >
        loss_profit,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="paidMethod != null" >
        paid_method,
      </if>
      <if test="paidTime != null" >
        paid_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="payable != null" >
        #{payable,jdbcType=DECIMAL},
      </if>
      <if test="lossProfit != null" >
        #{lossProfit,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="paidMethod != null" >
        #{paidMethod,jdbcType=INTEGER},
      </if>
      <if test="paidTime != null" >
        #{paidTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ytwman.greens.commons.entity.OrderOfferEntityExample" resultType="java.lang.Integer" >
    select count(*) from order_offer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_offer
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.payment != null" >
        payment = #{record.payment,jdbcType=DECIMAL},
      </if>
      <if test="record.payable != null" >
        payable = #{record.payable,jdbcType=DECIMAL},
      </if>
      <if test="record.lossProfit != null" >
        loss_profit = #{record.lossProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.balance != null" >
        balance = #{record.balance,jdbcType=DECIMAL},
      </if>
      <if test="record.paidMethod != null" >
        paid_method = #{record.paidMethod,jdbcType=INTEGER},
      </if>
      <if test="record.paidTime != null" >
        paid_time = #{record.paidTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_offer
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      payment = #{record.payment,jdbcType=DECIMAL},
      payable = #{record.payable,jdbcType=DECIMAL},
      loss_profit = #{record.lossProfit,jdbcType=DECIMAL},
      balance = #{record.balance,jdbcType=DECIMAL},
      paid_method = #{record.paidMethod,jdbcType=INTEGER},
      paid_time = #{record.paidTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ytwman.greens.commons.entity.OrderOfferEntity" >
    update order_offer
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="payable != null" >
        payable = #{payable,jdbcType=DECIMAL},
      </if>
      <if test="lossProfit != null" >
        loss_profit = #{lossProfit,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="paidMethod != null" >
        paid_method = #{paidMethod,jdbcType=INTEGER},
      </if>
      <if test="paidTime != null" >
        paid_time = #{paidTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ytwman.greens.commons.entity.OrderOfferEntity" >
    update order_offer
    set order_id = #{orderId,jdbcType=BIGINT},
      payment = #{payment,jdbcType=DECIMAL},
      payable = #{payable,jdbcType=DECIMAL},
      loss_profit = #{lossProfit,jdbcType=DECIMAL},
      balance = #{balance,jdbcType=DECIMAL},
      paid_method = #{paidMethod,jdbcType=INTEGER},
      paid_time = #{paidTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>