<!-- 头部 -->
<div region="north" split=true class="head_area">
    <div class="brand">
        <h3>蔬果佳园店营管理系统</h3>
        <div style="float:right;padding:18px;">
            <a href="#" class="easyui-menubutton" data-options="plain:true,iconCls:'Userhome',menu:'#mm1'">忽忽</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'Decline'"
               id="closeTabBtn">关闭</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'Printer'">打印</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'Help'">帮助(F1 )</a>
        </div>
        <div id="mm1" style="width:100px;">
            <div>个人资料</div>
            <div data-options="iconCls:'Userkey'">修改密码</div>
            <div onClick="window.location.href='/login.html'">退出</div>
        </div>
    </div>
</div>