<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<link rel="stylesheet" type="text/css" href="${request.contextPath}/assets/vendor/normalize.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/assets/vendor/font-awesome.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/assets/vendor/jquery-easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/assets/vendor/jquery-easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/assets/vendor/jquery-easyui/themes/color.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/assets/vendor/extjs-icon/css/icon.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/assets/stylesheets/main.css">

<script type="text/javascript" src="${request.contextPath}/assets/vendor/jquery-easyui/jquery.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/assets/vendor/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/assets/vendor/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${request.contextPath}/assets/vendor/jquery-easyui/datagrid-detailview.js"></script>
<script type="text/javascript" src="${request.contextPath}/assets/vendor/jquery-easyui/datagrid-groupview.js"></script>
<script type="text/javascript" src="${request.contextPath}/assets/vendor/jquery-easyui/jquery.portal.js"></script>

<script type="text/javascript" src="${request.contextPath}/assets/vendor/highcharts/highcharts.src.js"></script>
<script type="text/javascript" src="${request.contextPath}/assets/vendor/highcharts/highcharts-3d.src.js"></script>


<!--<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/4.2.0/normalize.css">
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/assets/vendor/extjs-icon/css/icon.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/assets/stylesheets/main.css">

<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.min.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-detailview.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-groupview.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.portal.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/highcharts/4.2.6/highcharts.src.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/highcharts/4.2.6/highcharts-3d.src.js"></script>-->

<!-- 基础 -->
<script type="text/javascript" src="${request.contextPath}/assets/javascripts/main.js"></script>

<!-- growing 统计 -->
<#include "/layout/growingio.html" />
<script>var contextPath = "${request.contextPath}";</script>
