<!--
<ul class="nav nav-sidebar">
    <li>
        <a href="#">订单管理</a>
        &lt;!&ndash;<ul class="nav">&ndash;&gt;
            &lt;!&ndash;<li><a href="#">系统管理</a></li>&ndash;&gt;
            &lt;!&ndash;<li><a href="#">权限管理</a></li>&ndash;&gt;
            &lt;!&ndash;<li><a href="#">角色管理</a></li>&ndash;&gt;
            &lt;!&ndash;<li><a href="#">用户管理</a></li>&ndash;&gt;
        &lt;!&ndash;</ul>&ndash;&gt;
    </li>
    <li><a href="#">基础信息</a></li>
    <li><a href="#">商品信息</a></li>
    <li><a href="#">采购模块</a></li>
    <li><a href="#">用户中心</a></li>
</ul>-->



<div class="list-group">
    <a href="#" class="list-group-item active">
        Cras justo odio
    </a>
    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>