<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytwman.greens.commons.repo.GoodsInfoMapper">

    <select id="selectByPagination" resultType="com.ytwman.greens.commons.entity.GoodsInfoEntity">
        SELECT * FROM greens.goods_info WHERE is_delete = 0
        <if test="categoryId != null">
            AND category_id = #{categoryId}
        </if>
        <if test="keywords != null and keywords != ''">
            AND ( name LIKE #{keywords} OR spell LIKE upper(#{keywords}) OR code LIKE upper(#{keywords}) )
        </if>
        ORDER BY id DESC
        LIMIT #{offset}, #{limit};
    </select>

</mapper>