<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytwman.greens.commons.repo.GoodsInfoMapper">

    <select id="selectByPagination" resultType="com.ytwman.greens.commons.entity.GoodsInfoEntity">
      SELECT * FROM goods_info WHERE is_delete = 0
      ORDER BY id DESC
      LIMIT #{page.offset}, #{page.limit};
    </select>
</mapper>