<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- http://blog.csdn.net/etttttss/article/details/8902125 -->
<!-- http://www.mybatis.org/mybatis-3/zh/configuration.html -->
<configuration>
    <settings>
        <!-- 指定 MyBatis 所用日志的具体实现，未指定时将自动查找。-->
        <!-- SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING -->
        <setting name="logImpl" value="SLF4J"/>
        <!-- 延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。 特定关联关系中可通过设置fetchType属性来覆盖该项的开关状态。-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--
        每一个在包 model.blog 中的 Java Bean，在没有注解的情况下，会使用 Bean 的首字母小写的非限定类名来作为它的别名。
        比如 model.blog.Author 的别名为 author；若有注解，则别名为其注解值。@Alias("author")
    -->
    <typeAliases>
        <package name="com.ytwman.greens.ups.entity"/>
    </typeAliases>
</configuration>