<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="false">
    <jmxConfigurator/>

    <!-- 日志输出方式 -->
    <appender name="STD" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/broker-server.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>../logs/broker-log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>10</maxHistory>
            <!-- 日志文件rolling触发策略 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>50MB</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- 日志输出格式 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} %level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 控制日志输出级别 -->
    <logger name="org.apache" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="org.jboss" level="WARN" />
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STD"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>